// Normalize
body
    margin: 0
    overflow: hidden

button
input
select
textarea
  font-family: inherit
  font-size: 100%
  line-height: 1.15
  margin: 0


html
    font-family: 'Roboto', sans-serif
    user-select: none

*
    box-sizing: border-box

#loadingScreen
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: #303030
    cursor: wait
    &.active
        z-index: 10
        .loadingWheel
            animation: rotating 2s linear infinite
    &.mobileError
        .loadingWheel
            animation-fill-mode: forwards
            animation-iteration-count: 1
        #mobileError
            visibility: visible

#corner-panel
    z-index: 5
    position: fixed
    left: 0
    top: 0
    background-color: #303030
    border-bottom-right-radius: 10px
    padding: 5px 10px
    width: 140px
    height: 80px
    border-color: #888
    border-style: solid
    border-width: 0 1px 1px 0
    span
        color: white

.loadingWheel
    width: 60px
    height: 60px
    position: fixed
    right: 16px
    bottom: 16px

@keyframes rotating
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

#mobileError
    position: fixed
    left: 50%
    top: 60%
    transform: translate(-50%, -60%)
    width: 90%
    text-align: center
    color: #ff3a3a
    visibility: hidden

#logo
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 50%

.dg
    font: 12px 'Roboto', sans-serif !important
    &.main
        position: fixed
        bottom: 0
        left: 0
        z-index: 5
    .slider
        margin-left: 0 !important
        width: 65% !important
    .c select
        width: 100%

canvas
    position: fixed

#doorbell
    &-submit-button
        background-color: #1E88E5
        box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5)
        transition: 0.3s all linear
        border: 0
        &:hover
        &:active
        &:focus
            text-decoration: none
            background: #1E88E5
            opacity: 0.85
            color: #ffffff

    &-form
        box-shadow: none !important
        border: 0
        text-align: right
        fieldset
            text-align: center
            #intro-text
                margin-bottom: 10px

    &-tags
        display: flex
        justify-content: space-between
        margin-bottom: 10px
        div
            font-weight: normal
            cursor: pointer
            border-radius: 4px
            padding: 4px
            color: white
            transition: 0.1s all linear
            &:hover
            &.active
                transform: scale(1.05)
                box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5)

#buttons
    position: absolute
    z-index: 5
    top: 80px
    left: 0
    a
    button
        position: relative
        height: 35px
        display: block
        border-bottom-right-radius: 5px
        padding: 4px 8px
        color: #ffffff
        font-family: 'Cookie', cursive
        font-size: 22px
        letter-spacing: 0.6px
        line-height: 30px
        text-decoration: none

        span
            position: absolute
            margin-left: 25px

        svg
            position: absolute
            top: 0
            left: 17px
            transform: translateX(-50%)
            width: 22px
            height: 100%

        transition: 0.3s all linear
        transform: translateX(-5px)
        &:hover
        &:active
        &:focus
            transform: translateX(0)

    .discord-button
        width: 125px
        border-left: 5px solid #7289DA
        background-color: #7289DA

    .bmc-button
        width: 115px
        border-left: 5px solid #FF813F
        background-color: #FF813F
        svg
            width: 24px
            transform: translate(-55%, 2px)

    .github-button
        width: 105px
        border-left: 5px solid #888888
        background-color: #888888
        svg
            width: 20px

    .doorbell-button
        width: 95px
        border-left: 5px solid #1E88E5
        background-color: #1E88E5
        border: none
        outline: none
        cursor: pointer

/* TOASTS */
.toasts
    &-container
        position: fixed
        bottom: 0
        right: 0
        width: 320px

    &-toast
        position: relative
        padding: 12px 16px
        margin: 8px 0 5px 0
        background: #303030
        cursor: pointer
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)

        border-radius: 5px 0 0 0
        border-style: solid
        border-width: 1px 0 2px 1px
        border-color: #888

        animation-name: toastsFadeIn
        animation-duration: .3s
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1) // easeOutQuint

        transition-delay: .3s
        transition-duration: .2s
        transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715) // easeInSine
        transition-property: max-height margin border padding
        &-fadeOut
            animation-name: toastsFadeOut
            animation-fill-mode: forwards

            max-height: 0 !important
            margin: 0
            border: 0
            padding: 0


    &-text
        font-size: 14px
        color: white

    // toast types
    &-success
        border-bottom-color: #51C625
    &-warning
        border-bottom-color: #DB9215
    &-error
        border-bottom-color: #DB2B1D
    &-info
        border-bottom-color: #27ABDB

@keyframes toastsFadeIn
    from
        transform: translateX(100%)
    to
        transform: translateX(0)

@keyframes toastsFadeOut
    from
        transform: translateX(0)
    to
        transform: translateX(100%)
