
// Normalize
body
    margin: 0
    overflow: hidden

button
input
select
textarea
  font-family: inherit
  font-size: 100%
  line-height: 1.15
  margin: 0


html
    font-family: 'Roboto', sans-serif
    user-select: none

#loadingScreen
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: #303030
    cursor: wait
    &.active
        z-index: 10
        .loadingWheel
            animation: rotating 2s linear infinite
    &.mobileError
        .loadingWheel
            animation-fill-mode: forwards
            animation-iteration-count: 1
        #mobileError
            visibility: visible

.loadingWheel
    width: 60px
    height: 60px
    position: fixed
    right: 16px
    bottom: 16px

@keyframes rotating
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

#mobileError
    position: fixed
    left: 50%
    top: 60%
    transform: translate(-50%, -60%)
    width: 90%
    text-align: center
    color: #ff3a3a
    visibility: hidden

#logo
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 50%

.dg
    font: 12px 'Roboto', sans-serif !important
    &.main
        position: fixed
        bottom: 0
        left: 0
        z-index: 5
    .slider
        margin-left: 0 !important
        width: 65% !important
    .c select
        width: 100%

canvas
    position: fixed

#doorbell-button
#doorbell-submit-button
    background-color: #1E88E5
    border: 0
    transition: 0.3s all linear
    &:hover
    &:active
    &:focus
        text-decoration: none
        background: #1E88E5
        opacity: 0.85
        color: #ffffff

#doorbell-submit-button
    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5)

#doorbell-form
    box-shadow: none !important
    border: 0
    text-align: right
    fieldset
        text-align: center
        #intro-text
            margin-bottom: 10px

#doorbell-tags
    display: flex
    justify-content: space-between
    margin-bottom: 10px
    div
        font-weight: normal
        cursor: pointer
        border-radius: 4px
        padding: 4px
        color: white
        transition: 0.1s all linear
        &:hover
        &.active
            transform: scale(1.05)
            box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5)

#doorbell-button
#bmc-button
#github-button
#discord-button
    position: absolute
    z-index: 5
    right: 0
    height: 35px
    display: flex
    justify-content: center
    vertical-align: middle
    box-sizing: border-box
    border-radius: 5px 0 0 0
    padding: 4px 8px
    color: #ffffff
    font-family: 'Cookie', cursive
    font-size: 22px
    letter-spacing: 0.6px
    line-height: 32px
    text-decoration: none

    svg
        width: 100%
        height: 100%

#doorbell-button
    bottom: 105px
    width: 90px

#github-button
    bottom: 70px
    width: 100px
    background-color: #777777
    span
        margin-right: 11px
    svg
        margin-top: 3px
        height: 22px

#bmc-button
    bottom: 35px
    width: 110px
    background-color: #FF813F
    span
        margin-right: 6px
    svg
        margin-top: 3px

#discord-button
    bottom: 0
    width: 120px
    background-color: #7289DA
    span
        margin-right: 2px
    svg
        margin-top: 2px

#bmc-button
#github-button
#discord-button
#doorbell-button
    transition: 0.3s all linear

    &:hover
    &:active
    &:focus
        transform: translateX(-5px)
        opacity: 0.9

#button-background
    z-index: 4
    position: absolute
    bottom: 0
    right: 0
    width: 5px
    height: 140px
    background-color: #FFFFFF
